{% extends "auctions/layout.html" %}

{% block body %}
<div class="subtitle">
    <h2 class="subtitle_text">
        Categories
    </h2>
</div>
<ul style="padding: 0 !important;">
    <div class="outsider">
        <div class="container-fluid">
            <div class="row">
                {% for category in categories%}
                <div class="col">
                    <li class="item">
                        <div class="item_title">
                            <a href="{% url 'categoryListings' category.options %}">
                                <div class="image_div">
                                    <h4 class="display-4" id="description_title">{{ category.options }}</h4>
                                    <img class="item_image" src="{{category.categoryImage}}" alt="">
                                </div>   
                            </a>
                        </div>
                    </li>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</ul>
{% endblock %}
