{% extends "auctions/layout.html" %}

{% block body %}
    <h1>{{ category }}</h1>
    <div>
        <ul>
            {% for list in listings %}
            <li>
                <a href="{% url 'listing' category.options list.id %}"><strong>{{list.title}}</strong></a>
                <img src="{{list.imageURL}}" alt="Product Image" height="200px" width="px">
                {{list.description}}
                {{list.bid}}
            </li>
            {% empty %}
            There are no {{category}} listings yet
            {% endfor %}
        </ul>
    </div>
    
{% endblock %}
