{% extends "auctions/layout.html" %}

{% block body %}
    {% if onIndex %}
        <div class="subtitle">
            <h2 class="subtitle_text">Active Listings</h2>
        </div>
    {% else %}
        <div class="subtitle">
            <h2 class="subtitle_text">{{ category }}
        </div>
    {% endif %}

    <ul style="padding: 0 !important;">
        <div class="outsider">
            <div class="container-fluid">
                <div class="row">
                    {% for list in listings %}
                    <div class="col">
                        <li class="item">
                            <div class="item_title">
                                <a href="{% url 'listing' list.category.options list.id %}">
                                    <div style="display: flex; align-items: center; justify-content: center;">
                                        <h4 class="display-4" id="description_title">{{list.title}}</h4>
                                    </div>
                                    <div class="image_div">
                                        <img class="item_image" src="{{list.imageURL}}" alt="Product Image" height="200px" width="px">
                                    </div>
                                </a>
                            </div>
                            <hr>
                            <div class="item_price">
                                {% if list.ListingHigherBid.all.last.bid %}
                                    Current Price: <strong>$ {{list.ListingHigherBid.all.last.bid}}</strong> 
                                    <!-- Arriba me di cuenta que se hace como en python, pero sin los paréntesis, sino, no reconoce las funciones y sale un error de "could not parse reminder" -->
                                {% else %}
                                    Initial bid: <strong> $ {{list.bid}}</strong>
                                {% endif %}
                            </div>
                            <div class="item_description">
                                {{list.description}}
                            </div>
                        </li>
                    </div>
                    
                    {% empty %}
                        {% if onIndex %}
                            There are no listings posted yet
                        {% else %}
                            There are no {{category}} listings yet
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </ul>
{% endblock %}