{% extends "auctions/layout.html" %}

{% block body %}
    {% if onIndex %}
        <div class="subtitle">
            <h2 class="subtitle_text">Active Listings</h2>
        </div>
    {% else %}
        <div class="subtitle">
            <h2 class="subtitle_text">{{ category }}
        </div>
    {% endif %}

    <ul style="padding: 0 !important;">
        <div class="outsider">
            <div class="container-fluid">
                <div class="row">
                    {% for list in listings %}
                    <div class="col">
                        <li class="item">
                            <div class="item_title">
                                <a href="{% url 'listing' list.category.options list.id %}">
                                    <strong>{{list.title}}</strong>
                                    <div class="image_div">
                                        <img class="item_image" src="{{list.imageURL}}" alt="Product Image" height="200px" width="px">
                                    </div>
                                </a>
                            </div>
                            <hr>
                            <div class="item_price">
                                <strong> $ {{list.bid}}</strong>
                            </div>
                            <div class="item_description">
                                {{list.description}}
                            </div>
                        </li>
                    </div>
                    
                    {% empty %}
                        {% if onIndex %}
                            There are no listings posted yet
                        {% else %}
                            There are no {{category}} listings yet
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </ul>
{% endblock %}