{% extends 'auctions/layout.html' %}

{% block body %}
    <div>
        {% if user.is_authenticated and listing.user != request.user %}
            {% if onWatchlist == False %}
                <a href="{% url 'watchlist' listing.id %}">
                    <button>
                        Add to watchlist
                    </button>
                </a>     
            {% else %}
                <a href="{% url 'watchlist' listing.id %}">
                    <button>
                        Remove from watchlist
                    </button>
                </a>
            {% endif %}
        {% elif user.is_authenticated and listing.user.id == user.id %}
            <a href="">
                <button>
                    Close Auction
                </button>
            </a>
        {% endif %}
    </div>
    <div>
        <h1>{{listing.title}}</h1>
    </div>
    <div>
        <img src="{{listing.imageURL}}" alt="Product Image" height="200px" width="200px">
    </div>
    <div>
        <h4>Description</h4>
        {{listing.description}}
    </div>
    <div>
        <p>Initial bid: <strong>{{listing.bid}}</strong> </p>
        <p>Higher bid: <strong>{{higherBid.bid}}</strong> </p>
        <p>Bids so far: <strong>{{bidsSoFar}}</strong> <p>

        
    </div>
    {% if user.is_authenticated %}
        <div>
            <form action="{% url 'listing' listing.category listing.id %}" method="POST" name="bid">
                {% csrf_token %}
                {{ bidForm.as_ul }}
                <button type="submit" class="btn btn-primary" name="bidBtn">Add new bid</button>
            </form>
        </div>
        <div>
            <form action="{% url 'listing' listing.category listing.id %}" method="POST">
                {% csrf_token %}
                {{ commentForm.as_ul }}
                <button type="submit" class="btn btn-primary" name="commentBtn">Submit</button>
            </form>
        </div>
    {% endif %}
    <div>
        <ul>
            {% for comment in comments %}
                <li>
                    {{comment.comment}}
                    {{comment.user}}
                    {{comment.date}}
                </li>
            {% empty %}
            No comments yet
            {% endfor %}
        </ul>
    </div>
{%  endblock %}