{% extends 'auctions/layout.html' %}

{% block body %}
    <div>
        {% if user.is_authenticated and listing.user != request.user %}
            {% if onWatchlist == False %}
                <a href="{% url 'watchlist' listing.id %}">
                    <button type="button" class="btn btn-primary">Add to watchlist</button>
                </a>     
            {% else %}
                <a href="{% url 'watchlist' listing.id %}">
                    <button type="button" class="btn btn-primary">Remove from watchlist</button>
                </a>
            {% endif %}
        {% elif user.is_authenticated and listing.user.id == user.id %}
            {% if listing.active is True and bidsSoFar > 0 %}
                <a href="{% url 'close' listing.id %}">
                    <button type="button" class="btn btn-warning">Close Auction</button>
                </a>
                
            {% elif listing.active is True and bidsSoFar == 0 %}
                <a href="{% url 'delete' listing.id %}">
                    <button type="button" class="btn btn-danger">Delete Auction</button>
                </a>
            {% else %}
                <div class="alert alert-info" role="alert">
                    <p>Auction Closed</p> 
                    <p>Winner: {{winner}} </p>
                </div>
            {% endif %}

        {% endif %}
        
        {% if user.is_authenticated and user == winner %}
            <div class="alert alert-success" role="alert">
                You won!
            </div>
        {% endif %}  

    </div>
    <div>
        <h1>{{listing.title}}</h1>
    </div>
    <div>
        <img src="{{listing.imageURL}}" alt="Product Image" height="200px" width="200px">
    </div>
    <div>
        <h4>Description</h4>
        {{listing.description}}
    </div>
    <div>
        <p>Initial bid: <strong>{{listing.bid}}</strong> </p>
        <p>Higher bid: <strong>{{higherBidNumber}}</strong> </p>
        <p>Bids so far: <strong>{{bidsSoFar}}</strong> <p>
    </div>

    {% if user.is_authenticated %}
       
        {% if listing.active is True %}
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    New bid must be higher than previous higher bid
                </div>
            {% endif %}
            
            {% if user != listing.user %}
            <div>
                <form action="{% url 'listing' listing.category listing.id %}" method="POST">
                    {% csrf_token %}
                    {{ bidForm.as_ul }}
                    <button type="submit" class="btn btn-primary" name="bidBtn">Add new bid</button>
                </form>
            </div>
            {% endif %}
        {% endif %}

        <div>
            <form action="{% url 'listing' listing.category listing.id %}" method="POST">
                {% csrf_token %}
                {{ commentForm.as_ul }}
                <button type="submit" class="btn btn-primary" name="commentBtn">Submit</button>
            </form>
        </div>

        <div>
            <ul>
                {% for comment in comments %}
                    <li>
                        {{comment.comment}}
                        {{comment.user}}
                        {{comment.date}}
                    </li>
                {% empty %}
                No comments yet
                {% endfor %}
            </ul>
        </div>

    {% endif %}
    
{%  endblock %}