{% extends "auctions/layout.html" %}

{% block body %}
<div>
    {% if won %}
        <div class="subtitle">
            <h2 class="subtitle_text">
                Auctions Won
            </h2>
        </div>
    {% elif watchlist %}
        <div class="subtitle">
            <h2 class="subtitle_text">
                Watchlist
            </h2>
        </div>
    {% else %}
        <div class="subtitle">
            <h2 class="subtitle_text">
                My Auctions
            </h2>
        </div>
    {% endif %}
</div>

<ul style="padding: 0 !important;">
    <div class="outsider">
        <div class="container-fluid">
            <div class="row">
                {% for auction in userAuctions %}
                <div class="col">
                    <li class="item">
                        <div class="item_title">
                            <a href="{% url 'listing' auction.category.options auction.id %}">
                                <strong>{{auction.title}}</strong>
                                <div class="image_div">
                                    <img class="item_image" src="{{auction.imageURL}}" alt="Product Image" height="200px" width="px">
                                </div>

                            </a>
                        </div>
                        <hr>
                        <div class="item_price">
                            <strong> $ {{auction.bid}}</strong>
                        </div>
                        <div class="item_description">
                            {{auction.description}}
                        </div>
                    </li>
                </div> 
                {% empty %}
                    {% if won %}
                        You have not win any auction yet
                    {% elif watchlist %}
                        Your watchlist is empty
                    {% else %}
                        You don´t have auctions posted yet
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</ul>
{% endblock %}