{% extends "auctions/layout.html" %}

{% block body %}
<div>
    <ul>
        {% for list in userWatchlist %}
        <li>
            <a href="{% url 'listing' list.category.options list.id %}"><strong>{{list.title}}</strong></a>
            <img src="{{list.imageURL}}" alt="Product Image" height="200px" width="px">
            {{list.description}}
            {{list.bid}}
        </li>
        {% empty %}
        You don ´t have lists on your watchlist
        {% endfor %}
    </ul>
</div>
{% endblock %}