{% extends "auctions/layout.html" %}

{% block body %}
<div>
    {% if won %}
        <h1>Auctions Won</h1>
    {% else %}
        <h1>My Auctions</h1>
    {% endif %}
</div>
<div>
    <ul>
        {% for auction in userAuctions %}
        <li>
            <a href="{% url 'listing' auction.category.id auction.id %}"><strong>{{auction.title}}</strong></a>
            <img src="{{auction.imageURL}}" alt="Product Image" height="200px" width="px">
            {{auction.description}}
            {{auction.bid}}
        </li>
        {% empty %}
            {% if won %}
                You have not win any auction yet
            {% else %}
                You don´t have auctions posted yet
            {% endif %}
        {% endfor %}
    </ul>
</div>
{% endblock %}